// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$pink: #FE2A53;
$dark-blue:#26547C;
$light-blue-poi:#41D5FF;
$yellow-poi: #F6CD03;
$green-poi:#09D898;
$black-poi:#2D3B44;
