.contact-btn {
    display: flex;
    justify-content: space-around;
    flex-direction:column;
    align-items: center;
}

.contact-social-icon {
  color:black;
  font-size: 36px;
  margin: 50px
}

.chat-contact-btn {
  background: none;
  border: none;
  &:hover {
    color:$ciclo-pink;
    }
}

.nps-choice {
  background-color: #f2f2f2;
  padding: 5px 10px;

    p {
      font-size: 13px;
      margin-top: 0;
      margin-bottom: 0;
    }

}
