// Specific CSS for your home-page
.ciclo-image {
  height: 420px;
  background: linear-gradient(200deg, rgba(0, 0, 0, 0.1), rgba(105, 105, 105, 0.2)), asset-url('mobile.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.3);
  // width: 240px;
}
