.poi-icon {
  background-size: contain;
}

.cyclist-avatar {
  background-size: contain;
}

#map {
  position: relative;
}

.popdown {
  position: absolute;
  bottom: 60px;
  background: #F7F7F7;
  border-bottom:black solid 0.5px;
  width: 100vw;
  height: 140px;
  display: none;
}

.popdown-visible {
  display: block;
  z-index: 3;
}


.distance_km {
  padding: 5px
}

.closing-cross-popdown {
  font-size: 24px;
  padding:10px;
  position: absolute;
  right: 10px;
  top: 5px;

}


