.poi-icon {
  background-size: contain;
}

.cyclist-avatar {
  background-size: contain;
}

#map {
  position: relative;
}

.popdown {
  position: absolute;
  bottom: 60px;
  background: #F7F7F7;
  border-bottom:black solid 0.5px;
  width: 100vw;
  height: 140px;
  display: none;
}

.popdown-visible {
  display: block;
}


.distance_km {
  padding: 5px
}
