.poi-show-top {
  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }
}

.btn-like {
  position: absolute;
  display:flex;
  right: 0;
  top: 225px;
}


.uni-page-container {
 margin: 0 auto;

}

