<%= render 'shared/topmenu' %>

<div class="uni-page-container" id="all-conversations">
  <div class="conversations-title">
    <h1><%= t('conversations.title') %></h1>
  </div>

  <div id="conversations" class="mb-7rem">
    <%= render @conversations %>
  </div>
</div>
<%= render 'shared/navbar' %>
