<div>

  <p>
    This app is localization based... if we cannot localize you on the map it is useless...
    <br><br> To change your settings, click on the button below
  </p>
  <button id="geoloc-agree">agree</button>
</div>
