<div >

  <p>
    We need access to your location for this app to work.
    <br><br> To change your settings once you said "don't allow", it is not easy.
    <%= link_to "here some help", help_path %>
  </p>
</div>
