<div>
  <div class="geoloc-message">
    <%= t('geolocalization.message').html_safe %>
    <%= link_to t('geolocalization.action'), help_path %>
  </div>

<div class='closing-geoloc-message'>
  <i class='fa fa-times'></i>
  </div>
</div>

