<div>

  <p>
    We need access to your location for this app to work.
    <br><br> To change your settings once you said "don't allow", it is not easy, below some links. Then go on the app again.
    <br> - for GOOGLE change settings for a specific site: <a href="https://support.google.com/chrome/answer/114662?visit_id=637050214797993572-1587509472&rd=1">here</a>
    <br> - for Iphone Safari: Open Safari > tap the open book icon on the icon bar at the bottom of the screen > history > clear > the last hour. Then go on the app again and select "OK" when you are asked to use your current location. <a href="https://www.wikihow.com/Check-Your-Safari-History"></a>
    <br> - for Samsung internet delete your history: open internet > menu > settings > Privacy > Delete personal data >  Choose one of the following: Cache. Cookies and site data. Browsing history. <a href="https://www.samsung.com/uk/support/mobile-devices/how-do-i-clear-the-cache-history-or-cookies-on-the-internet-browser-on-galaxy-device/">here</a>
  </p>
</div>
