<div class="navbar uni-box-shadow">
    <div class="navbar-item">
      <i class="fas fa-map-marked-alt"></i>
    </div>
    <div class="navbar-item">
      <i class="far fa-bookmark"></i>
    </div>
    <div class="navbar-item" id="navbar-item-plus">
      <i class="fas fa-plus"></i>
    </div>
    <div class="navbar-item">
      <i class="fas fa-rss"></i>
    </div>
    <div class="navbar-item">
      <i class="fas fa-user"></i>
    </div>
</div>
