  <div class="top-menu-back-map uni-box-shadow">
    <div class="top-menu-item justify-start">
      <%= link_to map_path do %>
        <i class="fas fa-chevron-left"></i>
      <% end %>
    </div>
  </div>
