  <div class="top-menu-bis uni-box-shadow">
    <div class="top-menu-item justify-start">
      <%= link_to :back do %>
        <i class="fas fa-chevron-left"></i>
      <% end %>
    </div>
  </div>
