  <div class="top-menu uni-box-shadow">
    <div class="top-menu-item justify-start">
      <%= link_to do %>
        <i class="fas fa-bars"></i>
      <% end %>
    </div>

    <div class="top-menu-item">
      <h2>Ciclo</h2>
    </div>

    <div class="top-menu-item justify-end">
      <%= link_to do %>
        <i class="fas fa-filter"></i>
      <% end %>
    </div>
  </div>
