<h1>PointOfInterests#index</h1>
<p>Find me in app/views/point_of_interests/index.html.erb</p>

<!-- All the <br> and the <p> at the bottom are for testing purposes. Whoever is working on this page can delete them. -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Bottom</p>
