<div class="info_window_popdown">
  <%= link_to point_of_interest_path(poi) do %>
      <div class="info_window_popdown_text">
        <div class="pb-2">
          <img src=<%= poi.icon %> alt="" height=20>
          <span><%= poi.name %></span>
        </div>
        <div>
          <p> <%= poi.description %> </p>
        </div>
      </div>
      <div> <p class="btn-main">View</p></div>

  <% end %>

</div>
