<div class="info_window_popdown">
  <div class="info_window_popdown_text">
    <div>
      <div class="info-window-first-row pb-2">
        <div>
        </div>
        <div class="distance_km  pl-3">
          <strong><span><%= t('report_instruction.title') %></span></strong>
          <p class="uni-opacity40 detail"> <span></p>
          </div>
        </div>
        <div>
        </div>
      </div>
      <div class="">
        <p class="pl-3"><%= t('report_instruction.text').html_safe %> </p>
      </div>
      <div class="info_window_popdown_btn ">
        <p class="btn-main mr-3 cancel"><%= t('report_instruction.button') %></p>
        <div class="closing-cross-popdown">
          <i class="fa fa-times"></i>
        </div>
      </div>
    </div>
  </div>
