<div class="geoloc-message mt-3">
<h5> <strong>We need access to your location for this app to work.</strong> </h5>
  <p>

    <br><br> <strong>To change your settings</strong> once you said "don't allow", it is not easy, below some links.
    <br><br> - for <strong>Google Chrome</strong> change settings for a specific site: <a href="https://support.google.com/chrome/answer/114662?visit_id=637050214797993572-1587509472&rd=1">here</a>

    <br><br> - for <strong>Iphone Safari:</strong> Open Safari > tap the open book icon on the icon bar at the bottom of the screen > history > clear > the last hour. Then go on the app again and select "OK" when you are asked to use your current location. <a href="https://www.wikihow.com/Check-Your-Safari-History">here</a>

    <br><br> - for <strong>Samsung internet</strong> delete your history: open internet > menu > settings > Privacy > Delete personal data >  Choose one of the following: Cache. Cookies and site data. Browsing history. <a href="https://www.samsung.com/uk/support/mobile-devices/how-do-i-clear-the-cache-history-or-cookies-on-the-internet-browser-on-galaxy-device/">here</a>
  </p>
</div>
