<div class="banner text-center">
  <div class="banner-title">
    <h1>Cycle better</h1>
    <p><em>Discover the best route with real-time reports from fellow cyclists</em></p>
    <hr>
  </div>
  <div class="banner-buttons">
    <%= link_to "Start", map_path, class: "btn-main uni-box-shadow"  %>
    <a href="#features" class="btn-secondary uni-box-shadow">Learn More</a>
  </div>
  <div class="banner-expand uni-box-shadow">
    <a href="#features"><i class="fas fa-angle-down"></i></a>
  </div>
</div>

<div class="banner-feature-section" id="features">
  <div class="uni-page-container text-center">
    <h2>Why Ciclo?</h2>
    <hr class="line-divider">
    <div class="cards">
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <h4>Goodbye Bad Roads</h4>
          <p>Get most up-to-date route information and never run into a bad road again. Follow the trail of fellow Ciclo-ers</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <h4>Your Community</h4>
          <p>Get the useful tips from your community. Where are the landmarks? Water fountains? Hidden gems? Ciclo's got your back.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <h4>Say Hello</h4>
          <p> Ciclo makes it very convenient to get in touch with fellow cyclists around you. Got questions or just want some advice? Reach out through Ciclo.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-social">
    <ul class="inline-list">
      <li class="inline-items"><i class="fab fa-facebook-f"></i></li>
      <li class="inline-items"><i class="fab fa-github"></i></li>
      <li class="inline-items"><i class="fab fa-twitter"></i></li>
      <li class="inline-items"><i class="fab fa-instagram"></i></li>
    </ul>
    <p>Ciclo was coded with 💜at Le Wagon.</p>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn-destroy" %>
  </div>
</div>


