<div
  id="map"
  style="width: 100%; height: 1000px;"
  data-markers="<%= @markers.to_json %>"
  data-cyclists="<%= @cyclist_avatars.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
<%= link_to new_point_of_interest_path do %>
  <div class="btn-on-map uni-box-shadow">
    <a href="/point_of_interests/new"><i class="fas fa-plus"></i></a>
  </div>
<% end %>
