<div class="welcome-pages">
  <h1 class="mb-50 mt-80">Welcome to Cicloo</h1>
  <p class="mb-50">The first app dedicated to touring cyclists</p>
  <img src="https://source.unsplash.com/random/800x600" alt="welcome to Cicloo" class="mb-50">
  <%= link_to "Next", map_path, class: "btn-main uni-box-shadow mb-50" %>
</div>
