<div class="welcome-pages">
  <h1 class="mb-50">Plan your next trip</h1>
  <p class="mb-4">In the trip section, follow a route and get notifications when a cicloo-er adds a new trip related to this route</p>
  <img src="https://icdn4.digitaltrends.com/image/digitaltrends/location-ios13-feature-image-1500x1000.jpg" alt="welcome to Cicloo" class="mb-50">
  <%= link_to "Next", profile_path, class: "btn-main uni-box-shadow mb-50" %>
</div>
