<div class="welcome-pages">
  <h1 class="mb-50">Share your adventure and inspire others</h1>
  <p class="mb-4">Add your past or present trips in your profile section</p>
  <p class="mb-50">Help the community to have access to the latest blogs and info about a route and inspire other cicloo-ers to follow your path</p>
  <img src="https://icdn4.digitaltrends.com/image/digitaltrends/location-ios13-feature-image-1500x1000.jpg" alt="welcome to Cicloo" class="mb-50">
  <%= link_to "Next", welcomeplan_path, class: "btn-main uni-box-shadow mb-50" %>
</div>
