<div class="welcome-pages">
  <h1 class="mb-50">Share your adventure and inspire others</h1>
  <p class="mb-4">Add your past or present trips in your profile section</p>
  <p class="mb-30">Help the community to have access to the latest blogs and info about a route and inspire other cicloo-ers to follow your path</p>
   <%= cl_image_tag('Share_your_trips_2', :transformation=>[{:quality=>"auto:best"}]) %>
  <%= link_to "Next", welcomeplan_path, class: "btn-main uni-box-shadow mb-50" %>
</div>
