<div class="welcome-pages">
  <h1 class="mb-50">Complete your profile</h1>
  <p class="mb-4">Add a picture and a bio</p>
  <p class="mb-30"><strong>Introduce yourself</strong> to the other cicloo-ers so they can see your details when they look for cyclists around them</p>
   <%= cl_image_tag('Complete_your_profile-3', height: 300,:transformation=>[{:quality=>"auto:best"}]) %>
  <%= link_to "Next", welcomeinspire_path, class: "btn-main uni-box-shadow mb-50" %>
</div>
