<div class="welcome-pages">
  <h1 class="mb-50">Complete your profile</h1>
  <p class="mb-4">Add a picture and a bio</p>
  <p class="mb-50">Introduce yourself to the other cicloo-ers so they can see your details when they look for cyclists around them</p>
  <img src="https://icdn4.digitaltrends.com/image/digitaltrends/location-ios13-feature-image-1500x1000.jpg" alt="welcome to Cicloo" class="mb-50">
  <%= link_to "Next", welcomeinspire_path, class: "btn-main uni-box-shadow mb-50" %>
</div>
