<div class="welcome-pages">
  <h1 class="mb-50">Welcome to Cicloo</h1>
  <p class="mb-50">The first app dedicated to touring cyclists</p>
  <img src="https://icdn4.digitaltrends.com/image/digitaltrends/location-ios13-feature-image-1500x1000.jpg" alt="welcome to Cicloo" class="mb-50">
  <%= link_to "Next", welcomeprofile_path, class: "btn-main uni-box-shadow mb-50" %>
</div>
