<div class="uni-page-container text-center mt-8" style="$headers-font; margin-top: 11px;">
  <h1><%= t('error_page.500_error.title') %></h1>
  <img src="https://media.giphy.com/media/l4YoxVONrqqfS/giphy.gif">
  <div style="margin-top: 10px;">
  <h5><%= t('error_page.500_error.text') %></h5>
  <%= link_to t('error_page.500_error.action'), map_path, class: "btn-simple" %>
  </div>
</div>
