<div class="uni-page-container text-center mt-8" style="$headers-font; margin-top: 11px;">
  <h1>Ouch, error 500</h1>
  <img src="https://media.giphy.com/media/l4YoxVONrqqfS/giphy.gif">
  <div style="margin-top: 10px;">
  <h5>Sure ain't problem we can't solve.</h5>
  <%= link_to "Go back", map_path, class: "btn-simple" %>
  </div>
</div>
