
<div class="uni-page-container text-center mt-8" style="$headers-font; margin-top: 11px;">
  <h3><%= t('error_page.not_found.title') %></h3>
  <img src="https://media.giphy.com/media/xThtaw7GpGP73bWwYU/giphy.gif" width= "110%" height="">
  <h4><%= t('error_page.not_found.text') %></h4>
</div>
