.banner {
  height: 100%;
  background: linear-gradient(200deg, rgba(0, 0, 0, 0.5), rgba(105, 105, 105, 0.2)), asset-url('banner-bg.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px;
}

.banner-title {
  color: #fff;
  p {
    font-weight: lighter;
  }
  hr {
    width: 100px;
    background-color: $ciclo-pink;
    height: 2px;
    margin-top: 0;
  }
}

.banner-buttons {
  display: flex;

}

.banner-expand {
  height: 50px;
  width: 50px;
  background: #26547C;
  line-height: 50px;
  border-radius: 50%;
  color: #fff;
  &:hover {
  background: #fff;
  color: #000;
  border: 1px solid #FE2A53;
  }
}
