.btn-main {
  background-color: $ciclo-pink;
  padding: 5px 10px;
  border-radius: 50px;
  border-style: none;
  display: inline-block;
  color: #fff;
  margin: 5px;
  min-height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-left: 0;
  a {
    text-decoration: none;
    color: white;
  }
  &:hover {
    background-color: #fff;
    color: $ciclo-pink;
    border: 1px solid $ciclo-pink;
    text-decoration: none;
  }
}

.btn-secondary {
  background-color: #fff;
  border: 1px solid $ciclo-pink;
  color: $ciclo-pink;
  padding: 5px 10px;
  border-radius: 50px;
  margin: 5px;
  min-height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-left: 0;
  a {
    text-decoration: none;
    color: $ciclo-pink;
  }
  &:hover {
    text-decoration: none;
    background-color: $ciclo-pink;
    color: #fff;
    border: none;
  }
}

.btn-secondary:active {
  text-decoration: none;
  background-color: $ciclo-pink !important;
  color: #fff !important;
  border: none;
}

.btn-minimal {
  margin: 10px;
  font-size: 14px;
  color: #A9A9A9;
  text-decoration-line: underline;
  &:hover {
    color: gray;
  }
}

.btn-destroy {
  position: relative;
  left: 70px;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid $ciclo-pink;
  text-decoration: none;
  color: $dark-blue;
}

.btn-simple {
  color: $ciclo-pink;
  font-weight: bold;
  &:hover {
    text-decoration: none;
    color: $ciclo-pink;
  }
}

.btn-simple:active {
  text-decoration-line: underline;
  }

 .fa-pen {
    color: $ciclo-pink;
    font-weight: bold;
    &:hover {
    text-decoration: none;
    color: $ciclo-pink;

    .fa-pen:active{
      text-decoration-line: underline;
    }
  }
}

.btn-edit-profile {
     margin-left: 107px;
}

