.cards {
  display: flex;
  // max-width: 100%;
  flex-direction: column;
  padding: 30px 20px 50px 20px;
  height: 100%;
  align-items: center;
}

.card {
  text-align: center;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
  // background-color: #F5F5F5;
  padding: 30px 20px;
  // border-radius: 1px;
  border: none;
  width: 100%;
  height: 200px;
  margin-bottom: 65px;
  display: flex;
  justify-content: center;
  position: relative;
  h4 {
    position: absolute;
    top: -35px;
    left: -15px;

    // font-weight: 300;
    // color: #fff;
    // background: rgb(38, 84, 124);
    // background: #26547C;
    // background: #FE2A53;


    font-weight: 400;
    opacity: 0.8;
    color: black;;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
    border-right: 3px solid #FE2A53;
    background: white;

    padding: 15px 20px;
    width: 275px;
    height: 65px;
    line-height: 35px;
  }
  p {
    margin-bottom: 0;
    color: #919191;
    // font-weight: lighter;
    font-weight: 300;
  }
}

.banner-feature-section {
  background-color: #fff;
}

.uni-page-container {
  h2 {
    padding-top: 60px;
    font-weight: 300;
    opacity: 0.9;
  }
}

// @media (min-width: 600px) {
//   .cards {
//     flex-direction: row;
//     max-width: 384px;
//   }
// }
