.current-position-marker {
  position: absolute;
  bottom: 100px;
  right: 100px;
  z-index: 10;
  text-align: center;
  line-height: 30px;
  height: 30px;
  width: 30px;
  background-color: $dark-blue;
  border-radius: 50%;
  border: 2px solid #fff;
}




