.form-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px 40px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  top: 10%;
}

.form-title {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  hr {
    width: 70px;
    background-color: #FE2A53;
    height: 2px;
    margin-top: 0;
  }
}

.form-input {
  margin: 10px;
  input {
    background: transparent !important;
    border: none;
    border-bottom: 1px solid #ececec;
    &:focus {
      box-shadow: none;
      border: none;
      border-bottom: 1px solid #26547C;
    }
  }
  label {
    font-size: 14px;
    color: gray;
  }
}

.form-buttons {
  display: flex;
  justify-content: center;
}

.form-buttons-login {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
