.info_window_popdown {
  text-decoration: none;
  color: black;
  padding: 10px 10px;
  a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
  }
}

.font-size-smaller {
  font-size: 0.9rem;
}

.info_window_popdown_text {
  color: black;
}

.info_window_popdown_btn {
  display: flex;
  align-items: center;
  .btn-main {
    min-height: 30px;
    width: 200px;
    font-weight: bold;
  }
  p {
    margin: 0;
  }
}

.info-window-first-row {
  display: flex;
  align-items: center;
}

.distance_km {
  p {
    margin: 0;
    font-size: 13px;
  }
  max-width: 280px;
}
