.card-trip-header {
  margin-top: 5px;
}
.container-card {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;

}

.card-trip {
  min-height: 19rem;
  min-width: 10rem;
  color: white;
  overflow: hidden;
  background: white;
  box-shadow: -1px 0px 17px -1px rgba(0,0,0,0.19);
  margin: 1rem;
  background-image: url("https://images.unsplash.com/photo-1452842290973-d0545e29bd18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=753&q=80");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  align-self: flex-end;
}

