.tabs {
  display: flex;
  align-items: center;
  margin: 0px 5px 30px 5px;
}
.tab {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  opacity: 0.3;
  border-bottom: 5px solid transparent;
  text-decoration: none;
  color: black;
  width: 50vw;
  text-align: center;
}
.tab:hover {
  opacity: 1;
  text-decoration: none;
  color: $ciclo-pink;
}
.tab.active {
  opacity: 1;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-bottom: 5px solid $ciclo-pink;
}
